<div class="container" style="max-width: 50em">
    <h2> Reset HEAD </h2>
    <form method="post" action="/actions/git/reset">
        <input class="button button-red" type="submit" value="Yes, I want to Reset Head --hard">
    </form>
</div>