<div class="container" style="max-width: 50em">
    <h2> Commit Changes </h2>
    <form method="post" action="/actions/git/commit">
        <input type="text" name="commit_message" placeholder="Commit Message" />
        <input type="submit" value="Commit">
    </form>
</div>