<h2> Management </h2>

<script type="text/babel">
ReactDOM.render(<Git />, document.getElementById("git"))
ReactDOM.render(<Jobs />, document.getElementById("jobs"))
ReactDOM.render(<Builders />, document.getElementById("builders"))
</script>

<div class="row">
    <div class="column">
        <h4> Git </h4>

        <div id="git"> </div> 
        
    </div>
</div>

<div class="row">
    <div class="column">
        <h4> Jobs </h4>

         <div id="jobs"> </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <h4> Builders </h4>

        <div id="builders"> </div>
    </div>
</div>