<div class="container" style="max-width: 50em">
<% if Database::Users::User.count == 0 %>
<h3> Create Initial User </h3>
<form method="POST" action="newuser">
<input type="text" placeholder="Username" name="username" required>
<input type="text" placeholder="Email Address" name="email" required>
<input type="text" placeholder="Full Name" name="name" required>
<input type="password" placeholder="Password" name="password" required>
<input type="submit" value="Login">
</form>
<% else %>
<h3> Login </h3>
<form method="POST">
<input type="text" placeholder="Username / Email" name="login" required>
<input type="password" placeholder="Password" name="password" required>
<input type="submit" value="Login">
</form>
<% end %>
</div>