<div id="titleview"> </div>

<div className="row">
    <div className="column" id="host_leaderboard"> </div>
</div>
<div className="row">
    <div className="column" id="tabs"> </div>
</div>

<script type="text/javascript"> renderTitleView("titleview"); </script>
<script type="text/javascript"> renderDefaultSelector("tabs"); </script>
<script type="text/javascript"> renderHostsLeaderboard("host_leaderboard") </script>