.red {
    color: #ff4444 !important;
}

.dq {
    color: #ff4444 !important;
}

.green {
    color: #5f975f !important;
}

td {
    padding-top: 0;
    padding-bottom: 0;
}

.button {
    margin-right: 0.5rem;
}

.button-selected {
    color: #666666 !important;
}

table {
    width: 100%;
}

html {
    overflow-y: scroll;
}