<h2> Miscellaneous Projects </h2>

<h4> University </h4>
<ul>
    <li> <a href="/ta/elsie"> Elsie Calendar Export </a> - Export your University Calendar to .ics, for Google Calendar, Outlook, iCal (Mac) and more! </li>
</ul>