@mixin fadeAll($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin fade($type, $duration) {
  -webkit-transition: $type $duration ease;
  -moz-transition: $type $duration ease;
  -ms-transition: $type $duration ease;
  -o-transition: $type $duration ease;
  transition: $type $duration ease;
}

.post-link {
  font-family: 'open sans', arial, sans-serif;
  font-size: 24px;
  margin-bottom: 0px;
  color: $grey-text;
  font-weight: bold;
}

.post-container {
  width: 30%;
  float: left;
  margin: 1.5%;
  height: 250px;
  max-height: 250px;
}

a:hover {
  text-decoration: none;
}

code {
  background-color: rgba(255, 0, 255, 0.05);
}

.highlight > pre {
  background-color: rgba(32, 32, 32, 0.90);
}

pre code {
  background-color: transparent !important;
}

.text-right {
  float: right;
}

.text-left {
  float: left;
}

.centre {
  text-align: center;
}

.pagination {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}

i.disabled {
  color: rgba(255, 255, 255, 0.2);
}

.read-more {
  @include fadeAll(0.2s);
  text-align: center;
  background-color: rgba(15, 15, 15, 0.3);
  border-radius: 5px;
  border: 2px solid rgba(15, 15, 15, 0.1);
  padding: 5px 0px;
  width: 100%;
  margin: 0px;
  display: block;

  color: $grey-color-dark !important;
}

.read-more:hover {
  //background-color: rgba(15, 15, 15, 0.5);
  background-color: $purple-highlight-darker;
  color: rgba(15, 15, 15, 1) !important;
  font-weight: bold;
  cursor: pointer;
}

.site-header {
  //background-color: rgba(255, 100, 255, 0.15)
  background-color: rgba(15, 15, 15, 0.9);
  border-top: 5px solid $purple-highlight;
}

.site-title, .site-nav .page-link {
  @include fadeAll(0.2s);
  color: $grey-color-light !important
}

.site-title:hover {
  padding-left: 5px;
}

.page-link {
  padding: 0px 5px;
  border: 2px solid rgba(15, 15, 15, 0.3);
}

.page-link:hover {
  background-color: $purple-highlight-darker;
  border-radius: 5px;
  color: rgba(15, 15, 15, 0.9) !important;
  padding: 5px 5px;
}

.headerImageContainer {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.headerImage {
  width: 100%;
}

.header-icon {
  padding: 0px 2px;
  color: #ddd;
}

.post-header {
  margin-bottom: 5px !important;
}

a {
  @include fadeAll(0.2s);
  color: #dda2c1;
}

a:hover {
  color: #dd87c1;
}

.lineno {
  font-style: italic;
  font-size: 12px;
}

a.share i {
  @include fadeAll(0.15s);
  margin-bottom: 10px;
  padding: 0px 2px;
  color: #bbb;
}

.fade {
  @include fadeAll(0.25s);
}

div.share {
  float: left;
}

.tags {
  float: right;
  color: #bbb;
  font-size: 10px;
  margin-top: 3px;
}

div.tags {
  max-width: 50%;
  overflow: hidden;
  max-height: 20px;
}

a.share i:hover {
  color: #dd87c1;
}

footer {
  background-color: rgba(15, 15, 15, 0.9) !important;
}

th {
  border-bottom: 2px solid $text-color;
}

div.inl-block {
  display:inline-block;
  width: 100%;
}

.post-main {
  height: 210px;
  max-height: 210px;
}

.excerpt {
  max-height: 100px;
  overflow: hidden;
}